<div class="container">
    <div class="row" >
        <div class="col-6">
            <div class="form-group">
                <label for="inputName" class="col-lg-3 control-label">Name Of Product: </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-3 control-label">Price: </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Price" name="price">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-3 control-label">Location: </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Code"  name="code">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Street" name="street">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Number"  name="num">
                    <input type="text" class="form-control" id="inputTitle" placeholder="City"  name="city">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-3 control-label">Stock: </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Stock"  name="stock">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-3 control-label">Description: </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Description" name="description">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-3 control-label">Rating: </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Rating" name="rating">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-3 control-label">Image Url: </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Image Url" name="iamge">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-light"  routerLink="/home">Save</button>
            </div>
            
        </div>
        <!-- <div class="col-6">
            <img [src]="selectedProduct.img" class="rounded mx-auto d-block"/>
        </div> -->
        
        
    </div>
  </div>
