<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Products</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Addresses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/cart-page" class="nav-link" href="#">Cart</a>
      </li>
    </ul>
    <div style="margin-left: 500px;">
      <form class="form-inline my-2 my-lg-0">
        <input #s class="form-control mr-sm-2" type="text" placeholder="Search Products" aria-label="Search" (keyup.enter)="search(s.value)" [value]="searchTerm">
        <button class="btn btn-outline-success" (click)="search(s.value)">Search</button>
      </form>
    </div>
  </div>
</nav>
