<div class="container">
    <div class="row" >
        <div class="col-6 p-3">
            <div class="form-group p-2">
                <label for="inputName" class="col-lg-3 control-label"><b>Name Of Product:</b></label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" [(ngModel)] ="selectedProduct.name" name="name">
                </div>
            </div>
            <div class="form-group p-2">
                <label for="inputName" class="col-lg-3 control-label"><b>Price:</b></label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Price" [(ngModel)] ="selectedProduct.price" name="price">
                </div>
            </div>
            <div class="form-group p-2"><b>Available At: </b>
                <div class="p-3" *ngFor="let address of selectedAddress"><b>Location {{address.id + 1}}:</b> 
                    <input type="text" class="form-control" id="inputTitle" placeholder="Code" [(ngModel)] ="address.code" name="code">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Street" [(ngModel)] ="address.street" name="street">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Number" [(ngModel)] ="address.num" name="num">
                    <input type="text" class="form-control" id="inputTitle" placeholder="City" [(ngModel)] ="address.city" name="city">
                </div>
            </div>

            <div class="form-group p-2">
                <label for="inputName" class="col-lg-3 control-label"><b>Stock:</b></label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Stock" [(ngModel)] ="selectedProduct.stock" name="stock">
                </div>
            </div>
            <div class="form-group p-2">
                <label for="inputName" class="col-lg-3 control-label"><b>Description:</b></label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Description" [(ngModel)] ="selectedProduct.description" name="description">
                </div>
            </div>
            <div class="form-group p-2">
                <label for="inputName" class="col-lg-3 control-label"><b>Rating:</b></label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Rating" [(ngModel)] ="selectedProduct.rating" name="rating">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-light" (click)="saveChanges()" routerLink="/home">Save</button>
            </div>
            
        </div>
        <div class="col-6 p-2">
            <img [src]="selectedProduct.img" class="rounded mx-auto d-block"/>
        </div>
    </div>
  </div>
