<div>
  <ul class="navbar-nav mr-auto">
    <div class="row">
      <div class="col-3 p-1">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary" (click)="sortByName()">Sort by Name</button>
        </li>
      </div>
      
      <div class="col-3 p-1">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary" (click)="sortByPrice()">Sort by Price</button>
        </li>
      </div>

      <div class="col-3 p-1">
        <input #s1 class="form-control mr-sm-2" type="text" placeholder="Min price" aria-label="minPrice" (keyup.enter)="minPrice(s1.value)">
        <input #s2 class="form-control mr-sm-2" type="text" placeholder="Max price" aria-label="maxPrice" (keyup.enter)="maxPrice(s2.value)">
      </div>
      <div class="col-3 p-1">
        <button class="btn btn-outline-success" (click)="searchPriceRange(s1.value, s2.value)">Search</button>
      </div>
    </div>
  </ul>
  <div class="carousel-inner py-4">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div *ngFor="let product of products" class="col-lg-4 p-4">
            <div class="card" style="align-items: center;">
              <div>
                <img
                  src="{{product.img}}"
                  class="card-img-top"
                  routerLink="/product/{{product.id}}"
                />
              </div>
              <div class="card-body" >
                <h5 class="card-title">{{product.name}}</h5>
                <div>
                  <span><b>Price:</b> {{product.price | currency}}</span>
                </div>
                <div>
                  <span><b>Rating:</b> {{product.rating}}</span>
                  <!-- <star-rating value="{{product.rating}}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
                </div>
              
                <div><b>Available at: </b>
                  <div *ngFor="let address of addresses">
                    <div *ngFor="let index of product.address">
                      <div *ngIf="index == address.id">
                        <span>{{address.street}} {{address.num}}, {{address.city}}</span>
                      </div>
                    </div>
                </div>
                
                  
                </div>
                <div class="p-2">
                  <button routerLink="/editProduct/{{product.id}}" type="button" class="btn btn-light">Edit</button>
                </div>
                <div class="p-2">
                  <button type="button" class="btn btn-light" (click)="deleteProduct(product.id)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
