<ul>
  <div class="container">
    <div class="row" >
      <div *ngFor="let product of products" class="col-md">
        <a routerLink="/product/{{product.id}}">
          <img src="{{product.img}}" class="rounded mx-auto d-block"/>
            <h4>
              {{product.name}}
            </h4>
            <div>
              <span><b>Price:</b> {{product.price}}</span>
            </div>
            <div>
              <span><b>Stock:</b> {{product.stock}}</span>
            </div>
            <div>
              <span><b>Description:</b> {{product.description}}</span>
            </div>
            <div>
              <span><b>Rating:</b> {{product.rating}}</span>
            </div>
            <div><b>Comments:</b> {{product.comments}}</div>
            <div><b>Location:</b><span>{{product.address.street}} {{product.address.num}}, {{product.address.city}}</span>
            </div>
        </a>
        </div>
    </div>
  </div>
</ul>
